/.vscode
/.idea

/node_modules
/vendor
/packages

.env
.continuerules

# misc
.DS_Store
*.pem
packages.json
install.sh
wp-cli.local.yml
wp-cli.*.yml

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
